.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background:
    linear-gradient(to right, rgba(#272727,0.9),rgba(#272727,0.3)),
    url("images/home_image.jpg");
    background-size: cover;
  
    &_name{
      font-size: 5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 3px solid set-text-color($primary-color);
      
  
  
      &--last{
        color: #ff652f;
        font-weight: 700;
      }
    }
  }